<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
    <h1>Текущие метрики:</h1>
    <ul>
        {{ range .metrics}}
        <li>
            <i>({{ .type }})</i> / <b>{{ .id }}</b><span>: {{ .value }}{{ .delta }}</span>
        </li>
        {{ end }}
    </ul>
    <hr>
</body>
</html>